.homepage {
    text-align: center;
    width: 100%;
    z-index: 1;
    &_loc {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem 0;
        background-color: #eaeaea;
        & img {
            margin-right: 0.5rem;
        }
    }
    &_intro {
        background-color: $bg-white;
        & h1 {
            font-weight: 600;
            font-size: 1.5rem;
            padding: 2rem 0;
        }
        & p {
            letter-spacing: 0.05rem;
            margin: 0 10%;
            font-weight: 300;
        }
        & button {
            margin: 2rem 0 3rem 0;
        }
    }
}

.explication {
    width: 100%;
    max-width: 660px;
    margin-top: 3rem;
    font-weight: 500;
    & h2 {
        font-weight: 600;
        font-size: 1.5rem;
        padding-left: 5%;
    }
    &-list {
        margin: 2rem 1rem 4rem 1rem;

        &_ligne {
            margin: 1rem;
            padding: 1.5rem 1rem;
            background-color: $bg-white;
            border-radius: 1rem;
            box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            & img {
                padding: 0 1rem 0 0;
            }
            &--last {
                background-color: #f5edff; 
                & img {
                    width: 1.5rem;
                }
            }
        }
    }
    &_number {
        font-size: 0.8rem;
        color: white;
        background-color: $primaire;
        padding: 0.25rem;
        border-radius: 10rem;
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-1.5rem);
    }
}

.vignette {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-white;
    width: 100%;

    & h2 {
        font-weight: 600;
        font-size: 1.5rem;
        padding-left: 5%;
        margin: 1rem 0 1rem 0;
        align-self: start;
    }
    &-restaurant {
        border-radius: 1rem;
        background-color: white;
        margin: 5% 5%;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.075);
        position: relative;
        &_photo {
            width: 100%;
            border-radius: 1rem 1rem 0 0;
        }
        &_new {
            color: #139273;
            background-color: $tertiare;
            font-weight: 500;
            width: 4rem;
            text-align: center;
            padding: 0.5rem 0.85rem;
            border-radius: 0.2rem;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
        &_description {
            display: flex;
            padding: 1rem;
            justify-content: space-between;
            align-items: center;
            &-left {
                & h3 {
                    font-weight: 600;
                    font-size: 1.1rem;
                    padding-bottom: 0.5rem;
                }
                & p {
                    font-weight: 300;
                }
            }
        }
    }
}
