.header{
    background-color: #fff;
    &-menu_photo {
        width: 100%;
    }
}
.main-menu{
    background-color: $bg-white;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $bg-white;
    transform: translateY(-2rem);
    border-radius: 2rem;    
    max-width: 660px;
    &-head{
        padding: 2rem 5%;
        display: flex;
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;
        font-size: 2rem;
        font-weight: 500;
    }
    &_service{
        & ul{
            margin-bottom: 2rem;
        }
        padding: 0 5%;
        &-title{
            text-transform: uppercase;
            font-weight: 300;
            position: relative;
            margin-bottom: 1rem;
            animation: apparition-plat $anim-dur backwards ;
            &::before{
                content:'' ;
                width: 2.5rem;
                height: 0.2rem;
                background-color:$tertiare ;
                position: absolute;
                bottom: -0.5rem;
            }
        }
    }
}