.button {
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
    font-weight: 400;
    letter-spacing: 0.02rem;    
    background-image: linear-gradient(170deg, $secondaire, $primaire);
    transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;
    cursor: pointer;
    &-menu{
        width: 50%;
        min-width: 7rem;
        align-self: center;
        margin: 2rem 0;
    }
    &:hover{
        opacity: 0.9;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);

    }
}


.heart{
    cursor: pointer;
    position: relative;
    display: flex;
    height: 21px;
    &:hover{
        & .heart--select{
            opacity: 1;
            animation: heart-fill 400ms ease-in-out;
            transform-origin: bottom;
        }
    }
    &--select{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 400ms;
    }
}
@keyframes heart-fill{
    0%{
        transform: scale(0);

    }
    100%{
        transform: scale(1);
    }
}


$anim-dur: 800ms;
$num-menu:9;
$anim-delay: $anim-dur / $num-menu;
// vignette de plat d'un menu 
.menu_plat{
    display: flex;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    // line-break: strict;
    // text-overflow: ellipsis;--------------je n'arrive pas a faire les pointillés
    
    &-gauche{
        width: 100%;
        padding: 0.75rem;
    }
    & h4{
        font-weight: 500;
        font-size: 1.15rem;
        padding-bottom: 0.5rem;
    }
    &-ligne-2{
        display: flex;
        justify-content: space-between;
    }
    &-description{
        font-weight: 300;
        font-size: 0.95rem;
    }
    &-price{
        font-weight: 500;
        transform: translateX(3.5rem);

    }
    &-coche{
        transform: translateX(5rem);/*------------------ le prix ne bouge pas */
        background-color: $tertiare;
        width: 5rem;
        display: flex;
        justify-content: center;
        & p{
            margin: auto;
        }
    }
    &:hover > .menu_plat-coche{
        transform: translateX(0);/*----------------ne fonctionne pas*/
    }
    &:hover  .menu_plat-price{
        transform: translateX(0);/*----------------ne fonctionne pas*/
    }


    /*animation apparition plat*/
    animation: apparition-plat $anim-dur backwards ;
    @for $i from 1 through $num-menu{
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}
@keyframes apparition-plat{
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}