.button {
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
    font-weight: 400;
    letter-spacing: 0.02rem;    
    background-image: linear-gradient(170deg, $secondaire, $primaire);
    transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;
    &-menu{
        width: 50%;
        min-width: 7rem;
        align-self: center;
        margin: 2rem 0;
    }
    &:hover{
        opacity: 0.9;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);

    }
}


.heart{
    position: relative;
    &:hover{
        & .heart--select{
            opacity: 1;
            animation: heart-fill 400ms ease-in-out;
        }
    }
    &--select{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 400ms;
    }
}
@keyframes heart-fill{
    0%{
        transform: scale(0);

    }
    100%{
        transform: scale(1);
    }
}


// vignette de plat d'un menu 
.menu_plat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 1rem 0;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    &-gauche{
        width: 100%;
    }
    & h4{
        font-weight: 500;
        font-size: 1.15rem;
        padding-bottom: 0.5rem;
    }
    &-ligne-2{
        display: flex;
        justify-content: space-between;
    }
    &-description{
        font-weight: 300;
        font-size: 0.95rem;
    }
    &-price{
        font-weight: 500;
    }
    &-coche{
        display: none;
    }
}